:root {
    --amareloPita: #FEDD59;

}

.bg {
    background: url("../../img/homeFundo.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fullScreenHeight {
    height: 100vh;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 11vw;
    color: black;
    text-shadow: -4px 0px 0px var(--amareloPita);
    font-family: 'Bebas Neue', cursive;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 8.5rem;
    font-weight: bold;
    text-shadow: -5px 0px 0px var(--amareloPita);
    color: black;
    text-transform: uppercase;
}

@media only screen and (max-width: 990px) {
    .h2Contact {
        font-size: 6.6rem;
    }
}

iframe {
    padding: 5px;
}

.tringulo {
    clip-path: polygon(0% 0%, 0% 100%, 5% 100%, 6% 6%, 88% 6%, 0 100%, 7% 100%, 100% 0);
    color: black;
}

.row {
    margin-top: 50px;
}

@media only screen and (min-width: 990px) {
    .txtVertical {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
}

nav a {
    text-decoration: none;
    color: var(--amareloPita);
    font-family: 'Bebas Neue', cursive;
}

footer {
    background-color: var(--amareloPita);
}
