<!--<footer>
    <div class="container">
        <div class="row text-center align-items-center">
            <div class="col-12 col-lg-6 pt-5 pt-lg-0 pt-xl-5">
                <p>&copy; Secção de Fado da Associação Académica de Coimbra</p>
                <p>All rights reserved.</p>
            </div>
            <div class="col-4 col-lg-2 pb-5 p-lg-5">
                <img src="../../img/logoOP.png" alt="logo Orxestra Pitagórica" class="img-fluid">
            </div>
            <div class="col-4 col-lg-2 pb-5 p-lg-5">
                <img src="../../img/logoSF.png" alt="logo Secção de Fado" class="img-fluid">
            </div>
            <div class="col-4 col-lg-2 pb-5 p-lg-5">
                <img src="../../img/logoAAC.png" alt="logo Associação Académica de Coimbra" class="img-fluid">
            </div>
        </div>
    </div>
</footer>-->

<!-- Bootstrap JS -->
<!-- Bootstrap JS -->

</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script>
    (function () {
        'use strict'
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        tooltipTriggerList.forEach(function (tooltipTriggerEl) {
            new bootstrap.Tooltip(tooltipTriggerEl)
        })
    })()
</script>
</body>
</html>